body {
    background-color: #C3D8F7;
	font-family: "Tahoma" ,"sans-serif";
}

h1 {
    width: 70%;
    margin: auto;
    background-color: #1D041F;
	color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
	border: groove 1em #ff4606;
	border-radius: 2em;
}

label {
	font-size:20px;	
}

input{
	height: 20px;
    font-size: 20px;
}

select{
	height: 20px;
    font-size: 20px;
}


/* CSS pour les boutons et les pièces dans la page pieceotheque.html */

#bouton_pieceotheque {
	height: 30px;
	border: solid;
	background-color: #FD6651;
	border-radius: 5px;	
	text-align: center;
	font-size: 15px;
}

#piece_pieceotheque:hover {
    width: 15vw;
}

#piece_pieceotheque{
	width : 9.5vw;
	border-style: inset;
	border-width: 8px;
	border-color: #1F1006;
	margin: 1vw 0vw 1vw 1vw;	
}


/* CSS pour les recherches et les pièces dans la page recherche.html */

#bouton_accueil{
	margin: -20vw 0vw 1vw -1vw;	
}

#name{
	height: 20px;
	width: 300px;	
}

#piece_recherche{
	width : 15vw;
	border-style: inset;
	border-width: 8px;
	border-color: #1F1006;
}


/* CSS pour les résultats dans page piece.html */

#liste{
	background-color: white;
	border: dashed red;
	border-width: 8px;
	height: 20vw;
	width: 20vw;
	margin: 5vw 10vw 10vw 0vw;
}

#placement_piece{
  margin: -35vw 0vw 0vw 25vw;
}

#piece_piece{
	width: 20vw;
	border-style: inset;
	border-width: 8px;
}


/* CCS pour l'affichage de la page vide.html */

#no_found{
	font-size: 50px;
	text-align: center;
}

/* CCS pour l'affichage des pièces de la page tri.html */

#piece_tri{
	width: 15vw;
	border-style: inset;
	border-width: 8px;
	border-color: #811453;
}

#lien_tri{
	text-decoration: none;
	font-size: 22px;
	color: black;
}

/* CCS pour le bouton multicolore */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); /* Fond multicolor */
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 200%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;


}

.glow-on-hover:active {
    color: #000
    
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;

}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 200% 0; }
    100% { background-position: 0 0; }

}


/* CSS pour l'écran de chargement: */

.preloader{
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #444;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* h1 de l'écran qui charge */
.preloader h1{
	background-color: red;
	color: white;
	font-size: 3.5rem;
	font-family: "Poppins", sans-serif;
	text-align: center;	
	border: 6px solid white;	
}

/* positionne l'animation */
.preloader.loader{
	display: block;
	width: 64px;
	height: 64px;
	position: relative;
}

.preloader.loader::before{
	width: 50px;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 8px solid;
	border-color: #000 #0000;
	animation: l1 1s infinite;
}

@keyframes loader {
	0%{
		transform: rotate(0deg);
	}
	
	100%{
		transform: rotate(360deg);
	}	
}

/* fond blanc de l'animation */
.loader {
  display: inline-grid;
  padding: 5px;
  background: #fff;
  filter: blur(4px) contrast(12);
  margin: -5vw 0vw 0vw 0vw;
}

/* animation quand ça charge */
.loader:before {
  content: "";
  height: 40px;
  aspect-ratio: 3;
  --c: #0000 64%,#000 66% 98%,#0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
  background-size: calc(200%/3) 50%;
  background-repeat: repeat-x;
  animation: l11 .8s infinite linear;
}

@keyframes l11{
  to {background-position: -200% 0,-100% 100%}
}