body{
    background-image: url("coin_flip.gif"); /* gif venant de GIPHY.com */
    background-size: 50vw;
}

h1{
    width: 70%;
    margin: auto;
    background-color: #1D041F;
	color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
	border-radius: 2em;
	margin: center;
	margin-bottom: 5vw;
}

a{
	color: white;
	text-decoration: none;
}