{# app/templates/enregistrement.html #}

{% extends 'base.html' %}

{% block title %}Enregistrement{% endblock %}

{% block content %}

<ul>
	<form action="{{ url_for('enregistrement') }}" method="get">
	<input placeholder="Quelle pièce voulez-vous enregistrer ?" name="nom">
	
	<li>
		<label for="nb_ex">Nombre d'exemplaire:</label>
		<input type="number"  placeholder="Son nombre d'exemplaire ?" name="nb_ex"/>
	</li>

	<input type="submit" value="Aller à la page">
	</form>
</ul>

<!-- <input placeholder="Son emetteur ?" name="emet">
<input placeholder="Son type ?" name="typ">
<input placeholder="Son année de création ?" name="date">
<input placeholder="Sa devise ?" name="dev">
<input placeholder="Sa composition ?" name="comp">
<input placeholder="Son poids ?" name="pds">
<input placeholder="Sa dimension ?" name="dim">
<input placeholder="Son épaisseur ?" name="ep">
<input placeholder="Sa forme ?" name="forme">
<input placeholder="Est-elle démonétisée ?" name="demo">
<input placeholder="Son indice de rareté Numista ?" name="idr">
<input placeholder="Son avers ?" name="avers">
<input placeholder="Son revers ?" name="revers">

<input type="submit" value="Aller à la page">
</form>
</ul> -->


{% endblock %}