{# app/templates/pieceotheque.html #}

{% extends 'base.html' %}

{% block title %}Pieceotheque{% endblock %}

{% block content %}

<!-- div pour mon écran de chargement -->
<div class="preloader">
	<h1>Numismaticodreo</h1> 
	<span class="loader"></span>
</div>

<!-- div pour les 2 boutons radios pour les tri en croissant ou décroissant -->
<div id="bouton_pieceotheque">
<input type="radio" id="desc" name="tri" value="descendant" checked onclick="inversement1()" />
	<label for="oui">Tri décroissant</label>
<input type="radio" id="asc" name="tri" value="ascendant" checked=""  onclick="inversement2()" />
	<label for="oui">Tri croissant</label>
</div>	

<!-- div pour les autres boutons pour les tris -->
<div>
		<form action="{{ url_for('tri') }}" method="post">
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par nombre" name="nb_ex" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par émetteur" name="tri_emet" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par type" name="tri_type_p" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par date" name="tri_date" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par devise monétaire" name="tri_dev" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par composition" name="tri_comp" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par poids" name="tri_pds" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par dimension" name="tri_dim" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par épaisseur" name="tri_ep" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par forme" name="tri_forme" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par démonétisation" name="tri_demo" />
			<input id="bouton_pieceotheque" class ="bouton_tri" type="submit" value="trier par indice de rareté Numista" name="tri_idr" />
		</form>
</div>


<!-- répétition pour afficher toutes les pièces (leur avers et revers) -->
{% for result in repetition %}
<a href="{{ url_for('piece', idP=result[0]) }}" class="liens">
	<img id="piece_pieceotheque" src="{{result[1]}}" title="{{result[1]}}" alt="pièce n°{{result[0]}}">
	<img id="piece_pieceotheque" src="{{result[2]}}" title="{{result[2]}}" alt="pièce n°{{result[0]}}">
</a>
{% endfor %}


<footer>
	<a href="{{ url_for('recherche') }}"> Faire une recherche précise.</a>
</footer>

{% endblock %}