{# app/templates/pieceotheque.html #}

{% extends 'base.html' %}

{% block title %}Pieceotheque{% endblock %}

{% block content %}


	<input type="radio" id="desc" name="tri" value="descendant" checked onclick="inversement()" />
		<label for="desc">Descendant</label>
	<input type="radio" id="asc" name="tri" value="ascendant" checked="" />
		<label for="asc">Ascendant</label>
		

	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par nombre" name="nb_ex" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par émetteur" name="tri_emet" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par type" name="tri_typ" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par date" name="tri_date" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par devise monétaire" name="tri_dev" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par composition" name="tri_comp" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par poids" name="tri_pds" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par dimension" name="tri_dim" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par épaisseur" name="tri_ep" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par forme" name="tri_forme" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par démonétisation" name="tri_demo" />
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par indice de rareté Numista" name="tri_idr" />
		</form>
	</li>


{% for result in repetition %}

<a href="{{ url_for('piece', idP=result[0]) }}">
	<img class="piece" src="{{result[1]}}">
	<img class="piece" src="{{result[2]}}">
</a>

{% endfor %}

<a href="{{ url_for('recherche') }}"> Recommencer</a>

{% endblock %}