{# app/templates/piece.html #}

{% extends 'base.html' %}

{% block title %}piece{% endblock %}

{% block content %}

{% for result in repetition %}
<h1>{{result[1]}}</h1>

<p>
	<ul>
		<li>Nom : {{result[1]}}</li>
		<li>Nombre d'exemplaires : {{result[2]}}</li>
		<li>Type : {{result[4]}}</li>
		<li>Pays émetteur : {{result[3]}}</li>
		<li>Date de création : {{result[5]}}</li>
		<li>Devise monétaire : {{result[6]}}</li>
		<li>Composition : {{result[7]}}</li>
		<li>Poids (en gramme) : {{result[8]}}</li>
		<li>Épaisseur (en mm) : {{result[10]}}</li>
		<li>Forme : {{result[11]}}</li>
		<li>Dimension (en mm) : {{result[9]}}</li>
		<li>Démonétisée : {{result[12]}}</li>
		<li>Indice de rareté numista : {{result[13]}}</li>
	</ul>
<img class="piece" src="{{result[14]}}">
<img class="piece" src="{{result[15]}}">
</p>
	

{% endfor %}

<footer>
	Les résultats ne vous satisfassent pas ?
	<a href="{{ url_for('recherche') }}"> Recommencez alors !</a>
</footer>

{% endblock %}