{# app/templates/pieceothequeD.html #}

{% extends 'base.html' %}

{% block title %}Pieceotheque{% endblock %}

{% block content %}


	<input type="radio" onclick="inversement1()" id="desc" class="btn1" value="trier par descendant" name="tri" value="descendant" checked="">
		<label for="tri_dsc">Descendant</label>
	<input type="radio" onclick="inversement2()" id="asc" class="btn2" value="trier par ascendant" name="tri" value="ascendant">
		<label for="tri_asc">Ascendant</label>


	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par nombre" name="tri_nb_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par émetteur" name="tri_emet_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par type" name="tri_typ_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par date" name="tri_date_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par devise monétaire" name="tri_dev_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par composition" name="tri_comp_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par poids" name="tri_pds_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par dimension" name="tri_dim_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par épaisseur" name="tri_ep_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par forme" name="tri_forme_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par démonétisation" name="tri_demo_D">
		</form>
	</li>
	
	<li>	
		<form action="{{ url_for('tri') }}" method="post">
			<input type="submit" value="trier par indice de rareté Numista" name="tri_idr_D">
		</form>
	</li>


{% for result in repetition %}

<a href="{{ url_for('piece', idP=result[0]) }}">
	<img class="piece" src="{{result[1]}}">
	<img class="piece" src="{{result[2]}}">
</a>

{% endfor %}

<a href="{{ url_for('recherche') }}"> Recommencer</a>

{% endblock %}