{# app/templates/recherche.html #}

{% extends 'base.html' %}

{% block title %}Numismatiquodreo{% endblock %}

{% block content %}
<h1>Les pièces de Dreo.</h1>
<p> Bonjour, vous êtes sur le site catalogant mes pièces de tous types. </p>


<form action="{{ url_for('resultats') }}" method="post">
	<input placeholder="Quelle pièce voulez-vous voir ?" id="name" name="nom">
	<input type="submit" value="Aller à la page">
	
	
</form>

<h3>Recherche spécifique: </h3>
<ul>
	<form action="{{ url_for('resultats') }}" method="post">
	
	<li>
		<label for="nb_ex">Nombre d'exemplaire:</label>
		<input type="number" id="pc" name = "nb_ex" min="1" max="100" />
	</li>
	
	<li>
		<label for="emet">Emetteur:</label>
		<input type="text" id="pc" name="emet" />
	</li>
	
	<li>
		<label for="type">Type:</label>
		<select name="typ" id="pc">
				<option> Pièce courante</option>
                <option> Essaie</option>
		</select>
	</li>
	<li>
		<label for="date">Date:</label>
		<input type="number" id="pc" name="date" min="1642" max="2024" />
	</li>
	<li>
		<label for="dev">Devise:</label>
		<input type="text" id="pc" name="dev" />
	</li>
	<li>
		<label for="comp">Composition:</label>
		<input type="text" id="pc" name="comp" />
	</li>
	<li>
		<label for="pd">Poids (g):</label>
		<input type="number" id="pc" name="pd" step="0.01" min="0" max="100"/>
	</li>
	<li>
		<label for="diam">Diamètre (mm) :</label>
		<input type="number" id="pc" name="diam" step="0.01" min="0" max="100"/>
	</li>
	<li>
		<label for="ep">Épaisseur (mm):</label>
		<input type="number" id="pc" name="ep" step="0.01" min="0" max="100" />
	</li>
	<li>
		<label for="forme">Forme:</label>
		<input type="text" id="pc" name="forme" />
	</li>
	<li>
		<label for="demo">Démonétisée:</label>
		<input type="radio" id="oui" name="demo" value="oui" checked/>
			<label for="oui">Oui</label>
		<input type="radio" id="non" name="demo" value="non" checked/>
			<label for="non">Non</label>
	</li>
	<li>
		<label for="idr">Indice de rareté:</label>
		<input type="number" id="pc" name="idr" min="0" max="100" />
	</li>
	<input type="submit" value="Aller à la page">
	</form>
</ul>
<script src="script.js">
        </script>


{% endblock %}