{# app/templates/resultats.html #}

{% extends 'base.html' %}

{% block title %}resultats{% endblock %}


{% block content %}

<h1>Voici le résultat de votre recherche: </h1>

<!-- affiche la  liste en image des résultats obtenus -->
{% for result in repetition %}
<a href="{{ url_for('piece', idP=result[0]) }}" class="liens"> <img id="piece_pieceotheque" src="{{result[14]}}" alt="pièce n°{{result[0]}}"> </a> 
<a href="{{ url_for('piece', idP=result[0]) }}" class="liens"> <img id="piece_pieceotheque" src="{{result[15]}}" alt="pièce n°{{result[0]}}"> </a>	
{% endfor %}

<footer>
	Les résultats ne vous satifaissent pas ?
	<a href="{{ url_for('recherche') }}"> Recommencez alors !</a>
</footer>
{% endblock %}