{# app/templates/tri_epaisseur.html #}

{% extends 'base.html' %}

{% block title %}trié par épaisseur{% endblock %}

{% block content %}


{% for result in repetition %}

{% if result is 'pas de donnée' %}
    <p> {{result[10]}} </p>
	<a href="{{ url_for('piece', idP=result[0]) }}">
		<img class="piece" src="{{result[14]}}" title="{{result[6]}}">
		<img class="piece" src="{{result[15]}}" title="{{result[6]}}">
	</a>
{% endif %}

<p> {{result[10]}}mm </p>
<a href="{{ url_for('piece', idP=result[0]) }}">
	<img class="piece" src="{{result[14]}}" title="{{result[6]}}">
	<img class="piece" src="{{result[15]}}" title="{{result[6]}}">
</a>
{% endfor %}

<a href="{{ url_for('pieceotheque') }}"> Retour</a>

{% endblock %}